{{ header }}
<div id="product-compare" class="container">
  <ul class="breadcrumb" itemscope="itemscope" itemtype="https://{{ server_name }}/BreadcrumbList">
    {% for breadcrumb in breadcrumbs %}
    <li itemscope="itemscope" itemprop="itemListElement" itemtype="https://{{ server_name }}/ListItem">
      <a itemprop="item" href="{{ breadcrumb.href }}">
        <span itemprop="name">{{ breadcrumb.text }}</span>
      </a>
      <meta itemprop="position" content="{{ loop.index }}">
    </li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      {% if products %}
      <table class="table table-bordered">
        <thead>
          <tr>
            <td colspan="{{ products|length + 1 }}"><strong>{{ text_product }}</strong></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ text_name }}</td>
            {% for product in products %}
            <td><a href="{{ product.href }}"><strong>{{ product.name }}</strong></a></td>
            {% endfor %} </tr>
          <tr>
            <td>{{ text_image }}</td>
            {% for product in products %}
            <td class="text-center">{% if product.thumb %} <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /> {% endif %}</td>
            {% endfor %} </tr>
          <tr>
            <td>{{ text_manufacturer }}</td>
            {% for product in products %}
            <td>{{ product.manufacturer }}</td>
            {% endfor %} </tr>
          </tbody>

        <thead>
          <tr>
            <td colspan="{{ products|length + 1 }}"><strong>{{ attribute_group.name }}</strong></td>
          </tr>
        </thead>
        {% for group_attr_name, attributes in spec_attr %}
          <tbody>
            <tr>
              <td colspan="{{ products|length + 1 }}"><strong class="power">{{ group_attr_name }}</strong></td>
            </tr>

            {% for attr_name, attribute in attributes %}
              <tr>
                <td><i>{{ attr_name }}</i></td>
                {% for attr_value in attribute %}
                    <td>{{ attr_value }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        {% endfor %}
        <tr>
          <td></td>
          {% for product in products %}
          <td>
            <a href="{{ product.remove }}" class="btn btn-danger btn-block">{{ button_remove }}</a></td>
          {% endfor %} </tr>
      </table>
      {% else %}
      <p>{{ text_empty }}</p>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-default">{{ button_continue }}</a></div>
      </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
