{{ header }}
{% if meta_checker %}
  <meta name="robots" content="noindex, follow">
{% endif %}
<div id="product-manufacturer" class="container">
  <ul class="breadcrumb" itemscope="itemscope" itemtype="https://schema.org/BreadcrumbList">
    {% for breadcrumb in breadcrumbs %}
      <li itemscope="itemscope" itemprop="itemListElement" itemtype="https://schema.org/ListItem">
        {% if loop.index == loop.last %}
        <p itemprop="item">
          <span itemprop="name">{{ breadcrumb.text }}</span>
        </p>
        {% else %}
          <a itemprop="item" href="{{ breadcrumb.href }}">
            <span itemprop="name">{{ breadcrumb.text }}</span>
          </a>
        {% endif %}
        <meta itemprop="position" content="{{ loop.index }}">
      </li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      {% if products %}
      <div class="row productlist-row">
        {% for product in products %}
          <div class="product-layout product-grid col-md-4 col-sm-6 {% if '1' == nice.productlist_cols_on_mobile %}col-xs-12{% else %}col-xs-6{% endif %}">
            <div class="product-thumb transition">
              <div class="product-thumb--image {% if nice.productlist_image_margins %}-has-margins{% endif %}">
                <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive fixed-size" /></a>
              </div>
              <div class="product-thumb--info">
                <div class="product-thumb--rating">
                  {% if product.rating %}
                    {% for i in 1..5 %}
                      {% if product.rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>{% endif %}
                    {% endfor %}
                  {% endif %}
                </div>
                {#<a class="product-thumb--name {% if 'bold' == nice.productlist_name_font_weight %}-bold-sm{% endif %}" href="{{ product.href }}">{{ product.name }}</a>#}
                <a class="product-thumb--name-bold" href="{{ product.href }}">{{ product.name }}</a>
                {% if nice.productlist_description %}<p class="product-thumb--description {% if not nice.productlist_description_on_mobile %}hidden-xs hidden-sm{% endif %}">{{ product.description }}</p>{% endif %}
                <div class="product-thumb--hidden-wrapper">
                  <button type="button" class="btn btn-accent product-thumb--button-buy -grid-hover-effect-hidden"><a href="{{ product.href }}">Check it</a></button>
                  <span onclick="compare.newAdd('{{ product.product_id }}', '{{ product.name }}');"><img src="image/catalog/compare_button.svg"></span>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      {% else %}
      <p>{{ text_empty }}</p>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
