{% if products %}
    {% if heading %}
        <h2 class="fourProducts">{{ heading }}</h2>
    {% endif %}
    <div class="section section--productlist">
        <div class="row productlist-row">
            {% for product in products %}
                <div class="product-layout product-grid col-sm-3">
                    <div class="product-thumb transition">
                        <div class="product-thumb--image">
                            <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive fixed-size" /></a>
                        </div>
                        <div class="product-thumb--info">
                            <a class="product-thumb--name-bold href="{{ product.href }}">{{ product.name }}</a>
                            <p class="product-thumb--description">{{ product.description }}</p>
                            <div class="product-thumb--hidden-wrapper">
                                <button type="button" class="btn btn-accent product-thumb--button-buy -grid-hover-effect-hidden" onclick="compare.newAdd('{{ product.product_id }}', '{{ product.name }}');"><span class="">{{ button_compare }}</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}