{{ header }}
<div id="error-not-found" class="container">
  <ul class="breadcrumb" itemscope="itemscope" itemtype="https://schema.org/BreadcrumbList">
    {% for breadcrumb in breadcrumbs %}
      <li itemscope="itemscope" itemprop="itemListElement" itemtype="https://schema.org/ListItem">
        {% if loop.index == loop.last %}
          <p itemprop="item">
            <span itemprop="name">{{ breadcrumb.text }}</span>
          </p>
        {% else %}
          <a itemprop="item" href="{{ breadcrumb.href }}">
            <span itemprop="name">{{ breadcrumb.text }}</span>
          </a>
        {% endif %}
        <meta itemprop="position" content="{{ loop.index }}">
      </li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <p>{{ text_error }}</p>
      <div class="buttons clearfix">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
